@model SuperBloki.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "SuperBloki: Formularz zamówienia";
}

<h2>Zloź zamówienie teraz</h2>
<p>Proszę podaj swoje dane kontaktowe, a my od razu wyślemy towar!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Dane</h3>
    <div class="form-group">
        <label>Twoje imie:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Adres dostawy</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Opcje</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Użyć opakowania na prezent?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Przetwarzaj zamówienie" />
    </div>
}
